@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis/Regular/Metropolis-Regular.eot");
  src: url("fonts/Metropolis/Regular/Metropolis-Regular.eot")
      format("embedded-opentype"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.woff2") format("woff2"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.woff") format("woff"),
    url("fonts/Metropolis/Regular/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth; 
}

body {
  background-color: #e5e5e5;
}

.top {
  background-color: #FFEFC3;
  /* height: auto; */
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for the hamburger icon button */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.navBar {
  display: flex;
  font-family: "PT Sans", "Metropolis",  sans-serif;
  font-weight: bold;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: auto;
}

.navBar-container {
  height: auto;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 7%;
  padding-right: 7%;
  width: 100%;
  height: 100px;
}

.navBar img {
  margin-left: 3%;
  width: 18%;
  height: auto;
  margin-top: -1%;
  object-fit: contain;
}

.navBar li a {
  color: #398E82;
  text-decoration: none;
}

.navBar li {
  list-style-type: none;
  flex: 0 1 auto;
}

.navBar li a:hover {
  color: #6452a2;
}

.navBar li button {
  height: 50px;
  width: 100px;
  font-family: "PT Sans", "Metropolis", sans-serif;
  font-weight: bold;
  background-color: #398e82;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.navBar li button:hover {
  color: #6452a2;
  cursor: pointer;
}

.hero {
  overflow: hidden;
  text-align: center;
  margin-top: 7.5rem;
  background-color: #e7f6f3;
}

.heronav {
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 10px 0;
  position: relative;
}

.heronav:hover {
  background: #6352a2;
}

.heronav:active {
  top: 1px;
}

.heroslides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.heroslides::-webkit-scrollbar {
  display: none;
}

.heroslides div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  overflow-x: hidden;
}

#hero-1, #hero-2, #hero-3 {
  scroll-margin-top: 100px;
}

#hero-1 {
  margin-top: 80px;
  display: flex;
  flex: 1 0 auto;
  /* flex-wrap: wrap; */
  gap: 3%;
}

#hero-2, #hero-3 {
  display: flex;
  gap: 3%;
  flex: 1 0 auto;
}

.hero1Text {
  padding-left: 5%;
  padding-right: 2%;
  flex-basis: 40%;

}

.hero2Text {
  flex-basis: 50%;
  padding-left: 5%;
}

.hero3Text { 
  flex-basis: 60%;
  margin-left: 5%;
}

.heroContent h1 {
  font-size: 60px;
  font-family: "Fira Sans", "PT Sans", sans-serif;
  font-weight: bold;
  color: #6352a2;
  text-align: left;
  align-content: left;
  width: 40%;
}

#hero-2 h1 {
  margin-top: 60px;
  width: 100%;
}

#hero-3 h1 {
  margin-top: 60px;
  width: 100%;
}

.heroContent p {
  padding-top: 10px;
  font-size: 22px;
  line-height: 1.5;
  font-family: "PT Sans", "Metropolis", sans-serif;
  text-align: left;
}

#hero-2 p, #hero-3 p{
  width: 80%;
  font-size: 30px;
}


#hero-1 img {
  width: 45%;
  height: auto;
  flex: 0 1 auto;
  float: right;
  margin-left: 7.5%;
  object-fit: contain;
}

#hero-2 img {
  width: 18rem;
  height: auto;
  flex: 0 1 auto;
  float: left;
  margin-left: 15%;
  padding-top: 70px;
  margin-right: 7%;
  object-fit: contain;
}

#hero-3 img {
  width: 18rem;
  height: auto;
  display: flex;
  flex: 0 1 auto;
  padding-top: 20px;
  object-fit: contain;
  margin-left: 15%;
}

#hero-1 button {
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 140px;
  margin-top: 20px;
  font-family: "PT Sans", "Metropolis", sans-serif;
  font-weight: bold;
  background-color: #0A6154;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  align-self: left;
  left: 30%;
}

#hero-2 button {
  position: absolute;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  font-family: "PT Sans", "Metropolis", sans-serif;
  font-weight: bold;
  background-color: #0A6154;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
  left: 0;
}

.aboutus {
  margin-top: 7.5rem;
  background-color: #e7f6f3;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  height: auto;
  scroll-margin-top: 80px;
}

.aboutusText {
  margin-left: 55%;
  margin-right: 5%;
}

.aboutusContent h1 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #6452A2;
  text-align: center;
  padding-bottom: 30px;
}

.aboutusContent p {
  padding-top: 1rem;
  font-family: "PT Sans", "Metropolis", sans-serif;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

.aboutusContent img {
  border: 8px solid #398e82;
  border-radius: 40px;
  padding-bottom: 20px;
  display: flex;
  gap: 3%;
  width: 45%;
  margin-left: 5%;
  flex: 0 1 auto;
  float: left;
}

.aboutuscards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-color: #ffefc3;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 300px;
  padding-bottom: 20px;
}

.polygon img {
  position: relative;
  width: 130px;
  top: -30px;
  right: 97%;
  display: flex;
  flex: 0 1 auto;
  max-width: 200%;
  height: auto;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.getInvolved {
  background-color: #e7f6f3;
  padding-top: 100px;
  padding-bottom: 80px;
  scroll-margin-top: 80px;
  margin-top: 7rem;
}

.getInvolved h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  color: #6352a2;
  padding-left: 5%;
  padding-right: 5%;
}

.getInvolved p {
  padding-top: 20px;
  font-family: "Metropolis", "PT Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.5;
}

.getInvolvedCards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 5% 0 5%;
  gap: 5%;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%;
  min-height: 420px;
}

.cards .getInvolvedCardHeader {
  display: flex;
  align-items: center;
  gap: 0%;
}

.getInvolvedBody {
  display: flex;
}

.getInvolvedCardHeader img {
  width: 20%;
  height: auto;
  flex: 0 1 auto;
  float: right;
  display: flex;
  /* margin-right: 5%; */
}

.cards h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 30px;
  color: #0a6154;
  padding-left: 7%;
  padding-right: 5%;
}

.getInvolvedBody img {
  width: 5%;
  height: 200px;
  padding-top: 7%;
}

#signUpCard .getInvolvedBody img {
  margin-top: -2%;
}

.cards p {
  padding-top: 20px;
  font-family: "PT Sans", "Metropolis", sans-serif;
  text-align: left;
  font-size: 15px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  padding-bottom: 100px;
}

.cards button {
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: #0a6154;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-family:  "PT Sans", "Metropolis", sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
}

.signupform {
  background-color: white;
  padding-bottom: 10%;
  height: auto;
  width: 100%;
  overflow: hidden;
}

#su-1 {
  position: relative;
  width: 10%;
  height: 10%;
  top: 160px;
}

#su-2 {
  width: 12%;
  height: 12%;
  position: relative;
  top: 500px;
  margin-right: 5%;
  margin-left: -2%;
}

#su-3 {
  width: 10%;
  height: 10%;
  position: relative;
  left: 57%;
  top: 20px;
}

#su-4 {
  position: relative;
  width: 15%;
  height: 15%;
  top: 400px;
  margin-right: -5%;
  float: right;
}

.signupContent {
  border: 5px solid #0A6154;
  margin: 0 auto;
  margin-top: -40px;
  width: 50%;
  z-index: 1;
}

.signupContent h1 {
  text-align: center;
  border: 4px solid #0A6154;
  background-color: #0A6154;
  font-family: "Fire Sans", "PT Sans", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 30px;
}

.signupText{
  padding: 20px 40px 20px 40px;
  font-family: "Fire Sans", "PT Sans", sans-serif;
  font-weight: normal;
  color: gray;
}

.signupText ul{
  line-height: 3;
  list-style-type: none;
}

.signupAs{
  line-height: 1.5;
  padding-top: 20px;
}

.signupAdditional{
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  padding-top: 20px;
}

.signupAdditional textarea{
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  border-width: thin;
  width: 60%;
  height: 100px;
  margin: 5px 0px 0px 0;
  border-radius: 5px;
  padding: 20px;
}


.signupText ul input {
  padding: 10px;
  width: 60%;
  margin: 12px 0px 0px 0;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.2);
  background: white;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
  height: 20px;
  float: right;
  border-radius: 5px;
}

.signupContent button {
  cursor: pointer;
  display: block;
  margin: 40px auto;
  height: 35px;
  width: 100px;
  background-color: #0a6154;
  font-family: "PT Sans", "Fire Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
}

.footerContainer {
  padding-top: 20px;
  display: flex;
  background-color: #6452a2;
  justify-content: space-between;
  align-items: left;
  gap: 100px;
}

.logoInfoFooter {
  width: 30%;
}
.footerLogo {
  height: 100px;
  margin-top: 20px;
}

.logoInfoFooter p {
  font-family: "PT Sans", "Metropolis", sans-serif;
  font-size: 15px;
  padding-left: 40px;
  padding-right: -10%;
  line-height: 1.5;
  color: #ffffff;
}

.footerLinks a {
  color: #ffffff;
  font-family: "PT Sans", "Metropolis", sans-serif;
}

.footerLinks ul {
  padding-top: 40px;
  padding-bottom: 50px;
}

.footerLinks li {
  margin-bottom: 15px;
  color: white;
}


.socials p {
  font-family: "Metropolis", "PT Sans", sans-serif;
  font-size: 15px;
  padding-left: 5%;
  padding-top: 40px;
  padding-right: 5%;
  line-height: 1.5;
  color: #ffffff;
}

.socials li {
  list-style-type: none;
}

.socials ul {
  display: flex;
  gap: 20px;
  padding-top: 10px;
  padding-right: 40px;
}

.socials img {
  height: 30px;
  width: auto;
}

.ourobjectives {
  background-color: #e7f6f3;
}

.ourobjectives h2 {
  margin-top: 14px;
  margin-bottom: 67px;
  text-align: center;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;
  color: #6452A2;
}

.ourprogram {
    background-color: #ffefc3;
    padding-bottom: 80px;
    padding-left: 130px;
    padding-right: 130px;
    scroll-margin-top: 100px;
  
}

.ourprogram h2 {
  text-align: center;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;
  color: #6452A2;
}

.OurProgramsCard {
  background-color: #ffefc3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5% 0 5%;
  gap: 10%;
  padding-bottom: 20px;
}

.OurProgramsSmallCards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  background-color: #ffefc3;
  border-radius: 10px;
  /* box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2); */
  width: 50%;
  min-height: 20px;
  max-width: 700px;
}


.OurProgramsSmallCards h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  color: #0A6154;
  padding-bottom: 5%;
  text-align: center;
}

.OurProgramsSmallCards p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: left;
}

.elements{
  margin-bottom: 5rem;
}

.elements-row-1 {
  margin: 0 13%;
  display: flex;
  margin-bottom: 69px;
  justify-content: space-around;
}

.elements-row-2 {
  margin: 0 4%;
  display: flex;
  margin-bottom: 65px;
  justify-content: space-around;
}

.element {
  width: 300px;
  min-width: 270px;
  height: 110px;
  
  border: 5px solid #398E82;
  filter: drop-shadow(-3px 10px 20px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  display: flex;
}

.number {
  background: #398E82;
  font-family: 'PT Sans';
  text-align: center;
  width: 64px;

  min-width: 64px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 95px;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  color: #FFFFFF;
}

.ele-text {
  padding: 5%;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 25px;
  text-transform: capitalize;
  color: #000000;
}

.quote {
  /* background-image: url(img/quote-block.svg); */
  /* height: 640px;
  width: 100%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 80px; */
  background-color: #398e82;
  margin: 1.5rem;
  border-radius: 30px;
  padding: 1.5em;
  font-size: 1.4rem;
  text-align: left;
  font-family: 'PT Sans';
  color: white;
}
.quote-first-line {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#finance {
  height: auto;
  object-fit: contain;
  margin: 2%;
}

#left-quote {
  height: 60%;
}

#right-quote {
  padding-top: 158%;
}

#alan {
  display: block;
  margin-left: auto;
  margin-right: 25%;
  text-align: center;
}

.divider {
  box-sizing: border-box;
  margin: 0 5%;


border: 8px dashed rgba(92, 193, 178, 0.7);
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.polygon2 {
  margin-top: -130px;
}

/* Our Programs Design Portion */

.programTitle {
  font-size: 40px;
  font-family: "Fira Sans", "PT Sans", sans-serif;
  font-weight: bold;
  color: #6352a2;
  text-align: center;
  padding-top: 30px;
  background-color:#a9cdc8;
  margin-top: 7rem;
}

.programs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color:#a9cdc8;
  padding-bottom: 30px;
}

.columns {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 50%;
  height: auto;
}

.communityHeader, .sustainHeader {
  font-size: 45px;
  font-family: "PT Sans", "Metropolis", sans-serif;
  color: #6352a2;
  text-align: center;
  margin-bottom: 20px;
}

.box {
  width: 450px;
  height: auto;
  filter: drop-shadow(-3px 10px 20px rgba(0, 0, 0, 0.25));
  background-color: #e7f6f3;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
}

.boxHead {
  font-size: 30px;
  font-weight: bold;;
  font-family: "PT Sans", "Metropolis", sans-serif;
  color:#0a6154;
  padding: 5px 5px 5px 5px;
}

.boxBody {
  font-size: 17px;
  line-height: 1.5;
  font-family: "PT Sans", "Metropolis", sans-serif;
  text-align: left;
  color: black;
  padding: 5px 5px 5px 5px;
}

/*start of arla's edit*/
/* @media (0px <= width <= 375px) */
@media (min-width: 0px) and (max-width: 420px) {
  .hero{
    margin-top: 4rem;
  }
  #hero-2 img, #hero-3 img{
    width: 1rem;
    height: auto;
    object-fit: scale-down;
  }
  .navBar-container{
    padding: 0 3rem;
  }
  .getInvolved {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .getInvolvedCards{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 1rem;
  }
  .cards{
    margin: 2em 0;
    width: 90%;
  }
  .getInvolvedCardHeader{
    margin: 0.5rem 1rem;
  }
  .cards.content{
    margin:0;
    padding: 0;
  }
  .getInvolvedCards button{
    margin-top: 0;
  }
  .getInvolvedCards.content{
    margin-bottom: 0;
    padding-bottom: 3px;
  }

  .polygon, .polygon2{
    display: none;
  }

  .ourobjectives{
    padding-bottom: 1.3rem;
  }
  /* the about us card starts here */

  .aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 20px;
  }

  .aboutusContent img {
    padding: 0;
    margin: 2rem 0 2rem 2.3rem;
    width: 80%;
    display: inline;
  }
  
  .aboutusText {
    margin: 1.8rem;
  }
  
  .aboutusContent h1 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 0;
  }
  
  .aboutusContent p {
    padding: 0.5rem;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .aboutuscards {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .ourobjectives h2 {
    margin-bottom: 0;
    margin-top: 4rem;
  }
/*starts here*/
  
  .elements-row-1 {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 3rem 3rem;
    gap: 50px;
    padding-left: 0.5rem;
  }

  .elements-row-2 {
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem 3rem;
    gap: 50px;
    padding-left: 0.5rem;
  }

  .element {
    width: 200px;
    min-width: 270px;
    height: 75px;
    gap: 0.5rem;
  }

  .elements .element .number { 
    line-height: 4.2rem;
  }

  .ele-text {
    padding: 0;
    padding-top: 0.7rem;
    padding-right: 0.5rem;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  #right-quote {
    padding-top: 34rem;
  }
}

@media (min-width: 421px) and (max-width: 600px){
  .getInvolved {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .getInvolvedCards{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 1.5rem;
  }
  .cards{
    margin: 2em 0;
    width: 90%;
  }
  .getInvolvedCardHeader{
    margin: 0.5rem 1rem;
  }
  .cards.content{
    margin:0;
    padding: 0;
  }
  .getInvolvedCards button{
    margin-top: 0;
  }
  .getInvolvedCards.content{
    margin-bottom: 0;
    padding-bottom: 3px;
  }

  .polygon, .polygon2{
    display: none;
  }
  .aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 20px;
  }

  .aboutusContent img {
    padding: 0;
    margin: 2rem 0 2rem 2.3rem;
    width: 80%;
    display: inline;
  }
  
  .aboutusText {
    margin: 40px;
  }
  
  .aboutusContent h1 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 0;
  }
  
  .aboutusContent p {
    padding-top: 20px;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .aboutuscards {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .ourobjectives h2 {
    margin-bottom: 0;
    margin-top: 4rem;
  }
  
.elements-row-1 {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 3rem 3rem;
  gap: 50px;
  padding-left: 1.3rem;
}

.elements-row-2 {
  display: flex;
  flex-direction: column;
  margin: 0rem 3rem 3rem;
  gap: 50px;
  padding-left: 1.3rem;
}

.element {
  width: 200px;
  min-width: 270px;
  height: 75px;
  gap: 0.5rem;
}

.elements .element .number { 
  line-height: 4.2rem;
}

.ele-text {
  padding: 0;
  padding-top: 0.7rem;
  padding-right: 0.5rem;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 0.85rem;
  line-height: 1.25rem;
}
  #right-quote {
    padding-top: 140%;
  }

}

@media (min-width: 601px) and (max-width: 768){
  .getInvolved {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
  }

  .getInvolvedCards{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 1.5rem;
  }
  .cards{
    margin: 2em 0;
    width: 90%;
  }
  .getInvolvedCardHeader{
    margin: 0.5rem 1rem;
  }
  .cards.content{
    margin:0;
    padding: 0;
  }
  .getInvolvedCards button{
    margin-top: 0;
  }
  .getInvolvedCards.content{
    margin-bottom: 0;
    padding-bottom: 3px;
  }

  .polygon, .polygon2{
    display: none;
  }
  .aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 20px;
  }

  .aboutusContent img {
    padding: 0;
    margin: 2rem 0 2rem 2.3rem;
    width: 80%;
    display: inline;
  }
  
  .aboutusText {
    margin: 40px;
  }
  
  .aboutusContent h1 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 0;
  }
  
  .aboutusContent p {
    padding-top: 20px;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .aboutuscards {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .ourobjectives h2 {
    margin-bottom: 0;
    margin-top: 4rem;
  }
  
.elements-row-1 {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 3rem 3rem;
  gap: 50px;
  padding-left: 1.3rem;
}

.elements-row-2 {
  display: flex;
  flex-direction: column;
  margin: 0rem 3rem 3rem;
  gap: 50px;
  padding-left: 1.3rem;
}

.element {
  width: 200px;
  min-width: 270px;
  height: 75px;
  gap: 0.5rem;
}

.elements .element .number { 
  line-height: 4.2rem;
}

.ele-text {
  padding: 0;
  padding-top: 0.7rem;
  padding-right: 0.5rem;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 0.85rem;
  line-height: 1.25rem;
}
#right-quote {
  padding-top: 140%;
}
}


@media (min-width: 767px) and (max-width: 992){
  .getInvolved {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
  }

  .getInvolvedCards{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 1.5rem;
  }
  .cards{
    margin: 2em 0;
    width: 90%;
  }
  .getInvolvedCardHeader{
    margin: 0.5rem 1rem;
  }
  .cards.content{
    margin:0;
    padding: 0;
  }
  .getInvolvedCards button{
    margin-top: 0;
  }
  .getInvolvedCards.content{
    margin-bottom: 0;
    padding-bottom: 3px;
  }

  .polygon, .polygon2{
    display: none;
  }
  .aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 20px;
  }

  .aboutusContent img {
    padding: 0;
    margin: 2rem 0 2rem 2.3rem;
    width: 80%;
    display: inline;
  }
  
  .aboutusText {
    margin: 40px;
  }
  
  .aboutusContent h1 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 0;
  }
  
  .aboutusContent p {
    padding-top: 20px;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .aboutuscards {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .ourobjectives h2 {
    margin-bottom: 0;
    margin-top: 4rem;
  }
  
.elements-row-1 {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 3rem 3rem;
  gap: 50px;
  padding-left: 1.3rem;
}

.elements-row-2 {
  display: flex;
  flex-direction: column;
  margin: 0rem 3rem 3rem;
  gap: 50px;
  padding-left: 1.3rem;
}

.element {
  width: 200px;
  min-width: 270px;
  height: 75px;
  gap: 0.5rem;
}

.elements .element .number { 
  line-height: 4.2rem;
}

.ele-text {
  padding: 0;
  padding-top: 0.7rem;
  padding-right: 0.5rem;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 0.85rem;
  line-height: 1.25rem;
}
#right-quote {
  padding-top: 140%;
}
}

@media only screen and (max-width: 950px) {
  .heroContent {
    flex-direction: row; /* Stack elements vertically */
    align-items: center; /* Center-align content */
  }
  #hero-2 img {
    height: auto;
    margin-top: 10px; 
  }
  #hero-3 img {
    height: auto;
    margin-top: 100px; 
  }
  
  .hero1Text {
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center; 
  }
  .hero2Text, .hero3Text {
    width: 100%;
    padding-bottom: 10px;
    margin-top: 50px;
    text-align: center; 
  }


  .heroContent h1 {
    font-size: 28px;
    margin-top: 10px;
    padding-bottom: 10px;
    order: 1;
  }
  
  .heroContent p {
    font-size: 16px; 
    order: 2,
  }

  .heroContent img {
    width: 100%;
    height: auto;
    margin-top: 20px; 
  }
 
  .programTitle {
    font-size: 30px;
    padding: 10px;
    padding-top: 40px;
  }
  .communityHeader, .sustainHeader {
    font-size: 32px;
  }
  .programs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#a9cdc8;
    padding-bottom: 30px;
  }

  .box {
    width: 350px;
    align-items: center;
    justify-content: center;
    height: auto;
    filter: drop-shadow(-3px 10px 20px rgba(0, 0, 0, 0.25));
    background-color: #e7f6f3;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
  }
  
  .boxHead {
    font-size: 22px;
    font-weight: bold;
    font-family: "PT Sans", "Metropolis", sans-serif;
    color:#0a6154;
    padding: 5px 5px 5px 5px;
  }
  
  .boxBody {
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    color: black;
    padding: 5px 5px 5px 5px;
  }
  .heroslides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .heroslides::-webkit-scrollbar {
    display: none;
  }
  
  .heroslides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    overflow-x: visible;
    padding-bottom: 50px;
  }
  .navBar img {
    width: 40%;
  }
  .signupContent {
    width: 70%;
    margin-top: 10%;
  }

  #su-2, #su-3 {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: 43%;
  }

  .headerLinks {
    display: none; /* Hide the navigation links by default on small screens */
    flex-direction: column; /* Stack links vertically */
    justify-content: center; /* Center horizontally */
    align-items: right;
    gap: 10px; /* Adjust the spacing between links */
    padding: 10px; /* Add some padding */
    position: absolute;
    top: 0;
    background-color: #0A6154;
    z-index: 1000;
    width: 100%;
    height: auto;
  }

  .headerLinks.active {
    display: inline-flex; 
  }
  

  .headerLinks li {
      margin: 10px 0; /* Add some spacing between links */
  }

  .headerLinks li a {
    color: black;
  }

  .footerContainer {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align content */
    gap: 20px; /* Space between elements */
    padding: 20px; /* Padding around the container */
  }

  .logoInfoFooter, .footerLinks, .socials {
    width: 100%; /* Full width for footer sections */
    text-align: center; /* Center text alignment */
    padding: 10px; /* Padding for each section */
  }

  .footerLinks ul{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-self: auto;
    align-items: center; 
    gap: 10px; 
    padding: 0px;
  }
  .socials ul {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-self: auto;
    align-items: center; 
    gap: 10px; 
    padding-right: 0px;
  }

  .socials p {
    padding: 0;
    margin: 0;
    display: none;
  }
  .footerLogo {
    width: 60%;
    height: auto; 
    margin: 0;
  }

  .socials img {
    width: 30px;
    height: auto;
  }

  .logoInfoFooter p {
    padding-left: 0;
    text-align: center;
  }
  
}

@media only screen and (max-width: 650px) {
  .signupContent {
    margin: 0 auto;
    margin-top: 17%;
    width: 85%;
  }

  .signupText {
    padding: 10px 20px 10px 20px;
  }

  #su-1, #su-2, #su-3, #su-4 {
    z-index: -1;
  }

  .signupPolygons {
    height: 30px;
  }
  .heroslides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .heroslides::-webkit-scrollbar {
    display: none;
  }
  
  .heroslides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    overflow-x: visible;
    padding-bottom: 50px;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
    height: 10%;
  }
  .navBar li {
    font-size: 12px;
    margin-right: 0%;
  }
  .headerLinks {
    flex-direction: row; /* Stack links vertically */
    align-items: flex-start; /* Align links to the start of the navBar */
    padding-right: 0; /* Remove right padding */
    gap: 3%;
  }
  .navBar li button {
    height: 30px;
    width: 60px;
    font-size: 12px;
  }

  #hero-1 img {
    width: 90vw;
    order: 2; 
    margin-left:0;
    margin-top: 50px;
  }
  #hero-2 img, #hero-3 img {
    width: 90vw;
    order: 2; 
    margin-left: 0;
    margin-top: 10px;
    padding: 0px;
  }

  .hero1Text {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    order: 1; 
    text-align: center; 
  }
  .hero1Text button {
    width: auto; /* Or specify a width that fits */
    margin: 10px 0; /* Add margin for spacing */
    /* Other styling as needed */
  }

  .hero2Text, .hero3Text {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    padding-bottom: 0vh;
    order: 1; 
    text-align: center; 
  }

  .heroContent h1 {
    font-size: 32px; 
  }

  #hero-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  #hero-2, #hero-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
  }

  #hero-1 p, #hero-2 p, #hero-3 p {
    width: 100%;
    font-size: 20px;
  }


  .footerLinks ul {
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
  }

  .logoInfoFooter p {
    flex-direction: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
  }

  .footerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footerLogo {
    height: 70px;
    align-self: center;
  }

  .logoInfoFooter, .footerLinks, .socials {
    width: 100%; /* Make sure these take full width to reduce left and right gaps */
    padding: 0 10px; /* Adjust the padding to reduce the size of left/right gaps */
    text-align: center; /* Center-align the text */
  }
  .socials ul {
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }

  .logoInfoFooter p, .footerLinks a, .socials p {
    padding-left: 10px; /* Adjust the left padding */
    padding-right: 10px; /* Adjust the right padding */
  }
  .programTitle {
    font-size: 30px;
    padding: 10px;
    padding-top: 40px;
  }
  .communityHeader, .sustainHeader {
    font-size: 32px;
  }
  .programs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#a9cdc8;
    padding-bottom: 30px;
  }

  .box {
    width: 350px;
    align-items: center;
    justify-content: center;
    height: auto;
    filter: drop-shadow(-3px 10px 20px rgba(0, 0, 0, 0.25));
    background-color: #e7f6f3;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
  }
  
  .boxHead {
    font-size: 22px;
    font-weight: bold;
    font-family: "PT Sans", "Metropolis", sans-serif;
    color:#0a6154;
    padding: 5px 5px 5px 5px;
  }
  
  .boxBody {
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    color: black;
    padding: 5px 5px 5px 5px;
  }
}
@media only screen and (max-width: 1350px) {
  .heroContent {
    flex-direction: row; /* Stack elements vertically */
    align-items: center; /* Center-align content */
  }

  .hero1Text, .hero2Text, .hero3Text {
    width: 100%;
    padding-bottom: 10px;
    text-align: center; 
  }

  .heroContent h1 {
    font-size: 32px;
    padding-bottom: 10px;
    order: 1;
  }
  
  .heroContent p {
    font-size: 22px; 
    order: 2,
  }

  .heroContent img {
    width: 100%;
    height: auto;
    margin-top: 20px; 
  }
  .footerContainer {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align content */
    gap: 20px; /* Space between elements */
    padding: 20px; /* Padding around the container */
  }

  .logoInfoFooter, .footerLinks, .socials {
    width: 100%; /* Full width for footer sections */
    text-align: center; /* Center text alignment */
    padding: 10px; /* Padding for each section */
  }

  .footerLinks ul{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-self: auto;
    align-items: center; 
    gap: 10px; 
  }
  .socials ul {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-self: auto;
    align-items: center; 
    gap: 10px; 
  }

  .footerLogo {
    width: 70px;
    height: auto; 
  }

  .socials img {
    width: 30px;
    height: auto;
  }
  .programTitle {
    font-size: 30px;
    padding: 10px;
    padding-top: 40px;
    /* margin-top: 7.5rem; <-Unsure about this edit on this line; trying to make navbar and start of page not collide */
  }
  .communityHeader, .sustainHeader {
    font-size: 32px;
  }
  .programs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#a9cdc8;
    padding-bottom: 30px; 
  }

  .box {
    width: 350px;
    align-items: center;
    justify-content: center;
    height: auto;
    filter: drop-shadow(-3px 10px 20px rgba(0, 0, 0, 0.25));
    background-color: #ffefc3;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
  }
  
  .boxHead {
    font-size: 22px;
    font-weight: bold;
    font-family: "PT Sans", "Metropolis", sans-serif;
    color:#0a6154;
    padding: 5px 5px 5px 5px;
  }
  
  .boxBody {
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", "Metropolis", sans-serif;
    text-align: left;
    color: black;
    padding: 5px 5px 5px 5px;
  }
  .heroslides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .heroslides::-webkit-scrollbar {
    display: none;
  }
  
  .heroslides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    overflow-x: visible;
    padding-bottom: 50px;
  }
}